@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-custom-style {
    @apply mx-auto max-w-6xl px-8;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}
